<!doctype html>
<html lang="es">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>PalmaBike</title>
    {% load static %}
    <link rel="icon" href="{%static 'img/PalmaBike_Logo.ico'%}">
    <link href="{%static 'css/bootstrap.min.css' %}"  rel="stylesheet">
    

    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }

        #enviosGratisBar {
            background-color: #4CAF50;
            color: white;
            text-align: center;
            padding: 10px;
            font-size: 26px;
        }
    </style>
</head>

<body>
    <div id="enviosGratisBar">
        Envíos gratis en productos seleccionados
    </div>
    <nav class="navbar navbar-expand-md navbar-light bg-light mb-4" id="barraNav">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
            aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="mx-auto order-0">
            <a href="" id="logoBookStop" class="navbar-brand mx-auto">
                <img src="{%static 'img/PalmaBike_Logo.png'%}" alt="logoPalmaBike" width="55px">PalmaBike
                
            </a>
        </div>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{%url ''%}">Articulos</a>
                </li>
                
                <li class="nav-item">
                    <a class="nav-link" href="">Ubicación</a>
                </li>
            </ul>
            <form class="form-inline mt-2 mt-md-0">
                <input class="form-control mr-sm-2" type="text" placeholder="Buscar Productos/Marcas" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit" id="btnBuscar">Buscar</button>
            </form>
        </div>
    </nav>
    </nav>

    </body>
    

    <footer>
        <div class="row col-12">
            <div class="col-lg-2">
                <img src="{%static 'img/PalmaBike_Logo.png'%}" alt="logoPalmaBike" width="150px">
            </div>
            <hr><br>  
           

            <div class="col-lg-2">
                <strong>Síguenos</strong>
                <br><br>
                <div class="row">
                    <a href="https://www.facebook.com/people/PalmaBike/100040408189576/">
                        <img src="{%static 'img/Facebook logo.png'%}" alt="" width="30px" height="30px" style="margin-left: 10px;">
                    </a>
                    <a href="https://www.instagram.com/palmabike/?hl=es">
                        <img src="{%static 'img/Intra.png'%}" alt="" width="30px" height="30px" style="margin-left: 10px;">
                    </a>

                </div>
            </div>


<div class="col-lg-3">

    <strong>Contacto</strong>
    <br><br>
    <div class="row">
        <img src="{%static 'img/location.png'%}" alt="" width="20px" height="20px"
            style="margin-right: 10px; margin-left: 15px;">
        <p>Calle el peral Rapel, 3230000 Navidad, O'Higgins</p>
    </div>
    <div class="row">
        <img src="{%static 'img/fono.png'%}" alt="" width="20px" height="20px"
            style="margin-right: 10px; margin-left: 15px;">
        <p>+56989138179</p> 
    </div>
    <div class="row">
        <img src="{%static 'img/fono.png'%}" alt="" width="20px" height="20px"
            style="margin-right: 10px; margin-left: 15px;">
        <p>PalmaBike@gmail.com</p>
    </div>
    <br><br><br>

    <p>&copy; PalmaBike - 2023</p>
</div>
</div>