<!-- crud/crear_producto.html -->
{% extends 'base.html' %}

{% block contenido %}
{% load static %}

<div class="container">
    <h2>Creando Artículo</h2>
    <form method="POST" id="formulario" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-group">
            <label for="id_nombre">{{ form.nombre.label }}</label>
            {{ form.nombre }}
            {% if form.nombre.errors %}
                <p class="text-danger">{{ form.nombre.errors }}</p>
            {% endif %}
        </div>

        <div class="form-group">
            <label for="id_imagen">{{ form.imagen.label }}</label>
            {{ form.imagen }}
            {% if form.imagen.errors %}
                <p class="text-danger">{{ form.imagen.errors }}</p>
            {% endif %}
        </div>

        <div class="form-group">
            <label for="id_precio">{{ form.precio.label }}</label>
            {{ form.precio }}
            {% if form.precio.errors %}
                <p class="text-danger">{{ form.precio.errors }}</p>
            {% endif %}
        </div>

        <div class="form-group">
            <label for="id_nombreMarca">{{ form.nombreMarca.label }}</label>
            {{ form.nombreMarca }}
            {% if form.nombreMarca.errors %}
                <p class="text-danger">{{ form.nombreMarca.errors }}</p>
            {% endif %}
        </div>
        <div class="form-group">
            <label for="id_stock">{{form.stock.label}}</label>
            {{form.stock}}
            {% if form.stock.errors %}
                <p class="text-danger">{{form.stock.errors}}</p>
            {% endif %}
        </div>

        <br>
        <input type="submit" class="btn btn-primary" value="Enviar">
        <a href="{% url 'lista_productos' %}" class="btn btn-success">Volver</a>
    </form>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.3/jquery.validate.min.js"></script>
<script>
    $(document).ready(function(){
        $("#formulario").validate({
            rules: {
                nombre: "required",
                imagen: "required",
                precio: "required",
                nombreMarca: "required"
            },
            messages: {
                nombre: {
                    required: 'Ingrese un nombre.'
                },
                imagen: {
                    required: 'Ingrese una imagen.'
                },
                precio: {
                    required: 'Ingrese un precio.'
                },
                nombreMarca: {
                    required: 'Ingrese una marca.'
                }
            }
        });
    });
</script>
{% endblock %}
